@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background: url("./background.png");
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.form-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

input {
  color: #777676;
  font-weight: 300;
  font-size: 17px;
}
.form {
  padding: 30px 100px;
  background: #819ac4;
  border-radius: 10px;
  box-shadow: rgba(89, 105, 255, 0.4) 5px 5px, rgba(46, 137, 240, 0.3) 10px 10px,
    rgba(114, 104, 248, 0.2) 15px 15px, rgba(156, 155, 241, 0.1) 20px 20px,
    rgba(102, 116, 248, 0.05) 25px 25px;
}

.name {
  padding: 20px 60px;
  width: 70%;
  background: #11284d;
  color: #11284d;
  border: solid 2px #11284d;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #11284d;
  font-size: 15px;
  margin-top: 20px;
}

input:focus {
  outline: none;
}

.radio {
  margin-top: 20px;
  font-size: 25px;
  color: rgb(125, 125, 126);
  display: flex;
  justify-content: center;
}

.radio-button {
  margin-right: 30px;
}

.course {
  margin-top: 20px;
}

.course-option {
  padding: 15px 30px;
  background: #303030;
  color: rgb(125, 125, 126);
  font-size: 15px;
  width: 80%;
  border: solid 1px #11284d;
  border-radius: 50px;
}

.course-option:focus {
  outline: none;
}

.option {
  background: #303030;
  border: none;
  padding: 10px;
}

.button {
  width: 75%;
  padding: 15px 0;
  margin-top: 20px;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  color: #252525;
  font-size: 17px;
  background: #11284d;
  color: #819ac4;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.sign-up {
  font-size: 30px;
  color: #11284d;
}

.error {
  border: solid 2px red;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 10px;
}

.error-div {
  color: red;
}

.agree {
  color: #11284d;
}

.checkBox {
  margin: 20px 0;
}

label {
  color: #11284d;
}
