@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background: #303030;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.form-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

input {
  color: #777676;
  font-weight: 300;
  font-size: 17px;
}
.form {
  padding: 40px;
  border-radius: 11px;
  background: linear-gradient(145deg, #2b2b2b, #333333);
  box-shadow: 14px 14px 28px #262626, -14px -14px 28px #3a3a3a;
}

.name {
  padding: 20px 20px;
  width: 70%;
  border: none;
  border-radius: 22px;
  color: #777676;
  background: #383838;
  box-shadow: inset -36px 36px 72px #282828, inset 36px -36px 72px #484848;
  font-size: 15px;
  margin-top: 20px;
}

input:focus {
  outline: none;
}

.radio {
  margin-top: 20px;
  font-size: 25px;
  color: rgb(125, 125, 126);
  display: flex;
  justify-content: center;
}

.radio-button {
  margin-right: 30px;
}

.course {
  margin-top: 20px;
}

.course-option {
  padding: 10px 30px;
  background: #303030;
  color: rgb(125, 125, 126);
  font-size: 15px;
  width: 80%;
  border: none;
  border-radius: 50px;
  background: linear-gradient(145deg, #2b2b2b, #333333);
  box-shadow: 14px 14px 28px #262626, -14px -14px 28px #3a3a3a;
}

.course-option:focus {
  outline: none;
}

.option {
  background: #303030;
  border: none;
  padding: 10px;
}

.button {
  width: 75%;
  padding: 15px 0;
  margin-top: 20px;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  color: #666565;
  font-size: 17px;
  background: linear-gradient(145deg, #2b2b2b, #333333);
  box-shadow: 14px 14px 28px #262626, -14px -14px 28px #3a3a3a;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(145deg, #333333, #2b2b2b);
  box-shadow: 14px 14px 28px #3a3a3a, -14px -14px 28px #262626;
}

.sign-up {
  font-size: 30px;
  color: #777676;
}

.error {
  border: solid 1px red;
}

.error-div {
  color: red;
}

.agree {
  color: #777676;
}

.checkBox {
  margin: 20px 0;
}
